<div class="text-center mt-5">
<form action="/submit_form" method="post" class="form-signin" style="max-width:300px;margin:auto;">
  <div class="form-group">
    <!-- Select Manager -->
    <select class="form-select" name="manager" aria-label="Default select example">
      <option selected>Choose A Manager</option>
      <% data.forEach(function(item, index){ %>
        <option value="<%= item.id %>"><%= item.last_name %></option>
      <% }); %>
    </select>
    <!-- Main Project -->
    <select class="form-select" name="projects" aria-label="Default select example">
      <option selected>Main Project</option>
      <% pdata.forEach(function(item, index){ %>
        <option value="<%= item.id %>"><%= item.name %></option>
      <% }); %>
    </select>

    <label for="first_name"><b>First Name</b></label>
    <input type="text" class="form-control" name="first_name" placeholder="Enter First Name">
    <label for="last_name"><b>Last name </b></label><br />
    <input name="last_name" type="text" class="form-control" placeholder="Enter Last Name" maxlength="50" />
    <!-- Title -->
    <select class="form-select" name="title" aria-label="Default select example">
      <option selected>Title</option>
      <% tdata.forEach(function(item, index){ %>
        <option value="<%= item.id %>"><%= item.name %></option>
      <% }); %>
    </select>
 
<label for="contractor"><b>Contractor?</b></label><br />
<select class="form-select" id="seeAnotherField">
    <option value="no">No</option>
    <option value="yes">Yes</option>
</select>
<div class="form-group" id="otherFieldDiv">
<label for="contractorlist"><b>Select Contractor</b></label><br />
  <input list="contractorlist" name="contractorlist">
  <datalist id="contractorlist">
    <option value="delaPlex">
    <option value="IBM">
    <option value="Devtorium">
  </datalist><br />
</div>

<label for="date_of_joining"><b>Start Date:</b></label>
<input type="date" id="date_of_joining" name="date_of_joining">

  </div>
  <div class="form-group">
    <label for="name">Message</label>
    <textarea type="text" class="form-control" name="message" placeholder="Enter message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

